.backgroundFirstSection{
    width: 100%;
    height: 100vh;
    background-color: #0a192f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50em;
    padding: 0em 2em;
    margin: 0 auto;
}

.presentationContainer {
    gap: 0.7em;
    display: flex;
    flex-direction: column;
    color: white;
}

.presentationContainer p:first-of-type{
    color: rgba(205, 40, 122);
    font-size: 1.3em;
    -webkit-animation: slide-in-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.presentationContainer p{
  font-size: 1.1em;
    line-height: 1.8em;
    color: rgb(220, 215, 215);
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.presentationContainer h1{
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    -webkit-animation: slide-in-top 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.presentationContainer h2{
    font-size: 4em;
    font-weight: bold;
    color: rgb(239, 211, 52);
    -webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.socialPlatforms{
    margin-top: 1em;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2em;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.socialPlatforms > li > a{
    text-decoration: none;
}

.socialPlatforms > li > a > img{
    width: 3em;
}

.socialPlatforms > li > a > img:hover{
    background-color:  rgba(205, 40, 122);
    border-radius: 100%; 
    border: 1px solid rgba(205, 40, 122)
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
 
@media (max-width: 600px){

  .presentationContainer h1{
    font-size: 3.5em;
}
  .presentationContainer h2{
    font-size: 3em;
}

.presentationContainer p:first-of-type{
  font-size: 1em;
}

.presentationContainer p{
  font-size: 1em;
}
}
