.personalCardContainer{
    width: 100%;
    background-color: #0a192f;
    margin: 4em auto;
    margin-bottom: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 2em;
    color: white;
}

.imagePersonal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
}

.personalCardContainer img{
    border-radius: 0.5em;
    width: 25em;
}

.personalCardContainer img:hover{
    filter: grayscale(0%);
}

.infoPersonal{
   display: flex;
   flex-direction: column;
   width: 40em;
   gap: 1em;
}

.infoPersonal .title{
    background-color: #0a192f;
    padding: 2em 0em;
    border-radius: 10px;
}

.infoPersonal .title h3{
    font-size: 2.5em;
    font-family: "Roboto Slab", serif;
    color: white;
    font-weight: 900;
}

.underline1 {
    height: 2px;
    width: 100px;
    background-color: #efd236;
    margin-top: 1.1em;
    position: relative;
  }
  .underline2 {
    height: 10px;
    width: 10px;
    background-color: #efd236;
    margin-top: -6px;
    transform: rotate(-135deg);
  }

.linked{
    text-decoration: none;
    color: rgba(205, 40, 122);
}

.infoPersonal p{
    font-size: 1.1em;
    line-height: 1.3em;
    letter-spacing: 0.1em;
    color: white;
    padding-right: 2em;
    margin: 1em 0px;
    margin-bottom: 0px;
}

.buttonsToPersonal {
    display: flex;
    gap: 10px;

}

.buttonsToPersonal a{
    color: black;
    text-decoration: none;
    padding: 0.7em;
    border-radius: 10px;
    margin-right: 2em;
    transition: 1s;
    background: linear-gradient(to left, white 50%, #efd236 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}

.buttonsToPersonal a:hover{
    background-position: left;
}