.contactCard{
    width: 18em;
    height: 16.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    box-shadow: 0px 0px 35px 0px black;
    background-image: linear-gradient(#efd236 0 0);
    background-size: 100% .08em; /* .08em is our fixed height; modify as needed. */
    background-position:200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
}

.contactCard img{
    width: 3em;
}

.contactCard h3{
    color: white;
    font-size: 1.8em;
}

.contactCard p{
    color: rgb(220, 215, 215);
    font-size: 1.1em;
    line-height: 1.3em;
}

.contactCard .orientation{
    margin-top: 0.5em;
    color: #efd236;
    font-weight: 600;
}

.contactCard:hover{
        transition: background-size .3s .3s, background-position .3s;
        background-size: 200% 100%;
        background-position: 100% 100%;

        & img{
            transition: 2s;
            filter: brightness(0);
        }
        & p{
            transition: 2s;
            color: black;
        }
        & p span{
            transition: 2s;
            color: rgba(205, 40, 122);
        }
        & h3{
            transition: 2s;
            color: black;
        }
}


