.navBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    background-color: #0a192f;
    position: fixed;
    z-index: 10000;
}

.navBar .navTags > ul{
    display: flex;
    flex-direction: row;
    padding: 0.25em;
    gap: 2em;
    list-style: none;
}

.navBar .navTags > ul>  li > a {
    font-family: "Roboto Slab", serif;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.9;
    transition: 1s;
  }

.navBar .navTags ul > li > a:hover {
    text-underline-offset: 0.6em;
    text-decoration: underline;
    color: rgba(205, 40, 122);
    transition: 0.7s;
}
